div.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

ion-item > div {
    width: 100%;
    max-width: 500px;
}

ion-card {
    width: 100%;
    max-width: 500px;
}