<div class="centered-content">
  <ion-content #activerequestslist [scrollEvents]="true" class="requests-list" [scrollY]="true">
    <ion-grid>
      <ion-row>
        <ion-col size="12">

          <ion-list lines="none">
            <ion-item *ngFor="let request of activeRequests" (click)="onSelectRequest(request)">
              <div [ngSwitch]="request.status">
                <ion-card color="success" *ngSwitchCase="'solucionado'">
                  <ion-card-content>
                    <ion-card-subtitle>{{request.skill!.name}}</ion-card-subtitle>
                    <ion-card-title>{{request.title}}</ion-card-title>
                    <ion-card-subtitle>{{getPassiveUserName(request)}}</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
                <ion-card color="warning" *ngSwitchCase="'abierta'">
                  <ion-card-content>
                    <ion-card-subtitle>{{request.skill!.name}}</ion-card-subtitle>
                    <ion-card-title>{{request.title}}</ion-card-title>
                    <ion-card-subtitle>Buscando Ayudante...</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
                <ion-card color="danger" *ngSwitchCase="'cancelado'">
                  <ion-card-content>
                    <ion-card-subtitle>{{request.skill!.name}}</ion-card-subtitle>
                    <ion-card-title>{{request.title}}</ion-card-title>
                    <ion-card-subtitle>{{getPassiveUserName(request)}}</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
                <ion-card color="primary" *ngSwitchCase="'activa'">
                  <ion-card-content>
                    <ion-card-subtitle>{{request.skill!.name}}</ion-card-subtitle>
                    <ion-card-title>{{request.title}}</ion-card-title>
                    <ion-card-subtitle>{{getPassiveUserName(request)}}</ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-item>
            <ion-item>
              <div style="height: 80px; width: 100%;"></div>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>