<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end" class="padding-right-10">
      <ion-button (click)="onSearchConnections()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
      <ion-buttons slot="end" class="padding-right-10">
        <ion-button (click)="onSearchConnections()">
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-segment value="active" [(ngModel)]="activeComponent" (ionChange)="onSegmentChange($event)">
    <ion-segment-button value="active">
      <ion-label>Conexiones</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pending">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="activeComponent">
    <app-connections-active *ngSwitchCase="'active'"></app-connections-active>
    <app-connections-pending *ngSwitchCase="'pending'"></app-connections-pending>
  </div>

</ion-content>
