<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#" (click)="onBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Solicitud</ion-title>
    <ion-buttons slot="primary" class="padding-right-10">
      <ion-button (click)="onNext()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>

  <div class="centered-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">

          <form [formGroup]="requestCreationDetailsForm" #requestCreationDetailsEntryForm="ngForm">
            <ion-input label="Titulo" label-placement="stacked" type="text" fill="outline" formControlName="title"
              id="inputTitle" placeholder="Titulo"></ion-input>
            <br>
            <ion-textarea label="Descripción" label-placement="stacked" type="text" fill="outline"
              formControlName="description" id="inputDescription" placeholder="Descripción" rows="8"></ion-textarea>
            <br>
            <ion-input label="Localización" label-placement="stacked" type="text" fill="outline"
              formControlName="location" id="inputLocation" placeholder="Localización"></ion-input>
          </form>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>