<!-- Chat message bubble using ionic and angular -->
<div class="wrapper">
  <div class="chat-bubble"
    [ngClass]="{ 'deleted': message.deleted, 'sender': message.senderId === userId, 'receiver': message.senderId !== userId }">
    <div class="message-info">
      <span *ngIf="message.senderId === userId" class="sender-name">Tú</span>
      <span *ngIf="message.senderId !== userId" class="sender-name">{{ message.senderName }}</span>
      <span class="time-stamp">{{ message.timeStamp | date:'mediumTime' }}</span>
    </div>
    <div class="message-content">
      {{ message.contents }}
    </div>
  </div>
</div>