div.centered-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

ion-img {
    width: 250px;
    max-width: 300px;
    margin: -150px auto -25px auto;
}