<div class="centered-content">
  <ion-grid>
    <ion-row>
      <ion-col size="12">

        <ion-list lines="none">
          <ion-item *ngFor="let request of relevantRequests" (click)="onSelectRequest(request)">
            <ion-card color="light">
              <ion-card-header>
                <ion-card-title>{{request.title}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{request.skill!.name}}
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</div>